<div id="manageEmployeesDiv">
    <h1 class="text-center py-5">Manage Employees</h1>
    <div>
        <div id="employeesTable">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Employees</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="employees">

                </tbody>
            </table>
        </div>
    </div>

</div>