<div id="pricingDiv">
    <h1 class="text-center pt-5">Pricing</h1>
    <div class="parent">
        <div class="child">
            <h4>Small Business</h4>
            <hr>
            <p>1 - 25 Employess</p>
            <p>$1000 / year</p>
            <p>or</p>
            <p>$100 / month</p>
            <button class="btn btn-primary" (click)="navigateToBusinessSignUp()">Sign Up</button>
        </div>
        <div class="child">
            <h4>Medium-Sized Business</h4>
            <hr>
            <p>26 - 100 Employess</p>
            <p>$2000 / year</p>
            <p>or</p>
            <p>$200 / month</p>
            <button class="btn btn-primary" (click)="navigateToBusinessSignUp()">Sign Up</button>
        </div>
        <div class="child">
            <h4>Large Business</h4>
            <hr>
            <p>100+ Employess</p>
            <p>$4000 / year</p>
            <p>or</p>
            <p>$400 / month</p>
            <button class="btn btn-primary" (click)="navigateToBusinessSignUp()">Sign Up</button>
        </div>
    </div>
</div>